.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about-me-container>p {
  line-height: 35px;
  width: 50%;
}

.about-me-container>h1 {
  color: #01d293;
}

.skill-sets {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: auto;
}

.skill-sets>p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  margin: 8px;
}

.skill-sets>p>img {
  height: 70px;
  width: 100%;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #0e1630;
  padding: 1em 1em;
  border: 1px solid white;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: auto;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #01d293;
  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}