<div class="about-me-container">
    <h1>&mdash;About Me</h1>
    <p>Hello there! 👋 I'm a passionate web developer with a year of hands-on experience in the dynamic world of
        Information
        Technology. I'm currently working in Extrieve Technology. My skill set includes proficiency in HTML, CSS, and
        JavaScript, allowing me to craft engaging and interactive web experiences. I thrive on the challenges of coding
        and
        love bringing creative ideas to life in the digital realm. As I continue my journey in the vast landscape of web
        development, I'm excited to explore new technologies and contribute my skills to exciting projects. Let's build
        something amazing together! 🚀✨.</p>
    <h1>&mdash;My Skill Set</h1> 
    <div class="skill-sets">
        <p>
            <img src="../assets/images/html-5.png" alt="" srcset=""><span>Html</span>
        </p>
        <p>
            <img src="../assets/images/css-3.png" alt="" srcset=""><span>CSS</span>
        </p>
        <p>
            <img src="../assets/images/js.png" alt="" srcset=""><span>JavaScript</span>
        </p>
        <p>
            <img src="../assets/images/typescript.png" alt="" srcset=""><span>TypeScript</span>
        </p>
        <p>
            <img src="../assets/images/java.png" alt="" srcset=""><span>Java</span>
        </p>
        <p>
            <img src="../assets/images/angular.png" alt="" srcset=""><span>Angular</span>
        </p>
    </div>       
    <button>
        <span class="circle1"></span>
        <span class="circle2"></span>
        <span class="circle3"></span>
        <span class="circle4"></span>
        <span class="circle5"></span>
        <span class="text">Download CV</span>
    </button>
</div>