.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container {
    display: flex;
    width: 50%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    float: right;
  }
  
  .button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-3px);
    color: #01d293 !important;
  }
  
  .icon {
    font-size: 20px;
  }
  h4{
    color: #F6F1D1;
    text-align: center;
  }

  .colored-first-letter span {
    color: #01d293;
  }