<div class="intro-container">
    <div class="intro-msg-container">
        <div class="intro-msg">
            <p>&mdash;Hello 👋 I'm</p>
            <section class="intro-animation">
                <div class="designation">
                    <div>Web Developer</div>
                </div>
                <div class="name">
                    <div>Mohammed shaheer</div>
                </div>
            </section>
        </div>
        <p>Iam from Bangalore, Karnataka. I love creating engaging and
            user-friendly websites. Excited to turn ideas into reality through code and contribute to the ever-evolving
            digital
            landscape.</p>
    </div>
    <div>
        <img src="../assets/images/shaheer.png" height="300px" width="300px">
    </div>
</div>